/* Style the links inside the navigation bar */
.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 45px;
  text-align: center;
  overflow: hidden;
  width: 5000px;
  animation-name: Atari;
  animation-duration: 20s;
  animation-iteration-count: infinite;

}

/* Change the color of links on hover */
.navbar a:hover {
  color: red;
  font-size: 48px;
  animation-name: Atarib;
  animation-duration: 3s;
  animation-iteration-count: infinite;

}

/*Color Changing Funktion*/
@keyframes example {
    0%   {background-color: blueviolet;}
    50%  {background-color:  midnightblue;}
    70%   {background-color: darkgrey;}
    85%   {background-color: purple;}
    100%   {background-color: blueviolet;}

}

@keyframes Atari {
    0%   {color: deeppink;}
    25%  {color: lawngreen;}
    50%  {color: orangered;}
    70%   {color: yellow;}
    85%   {color: greenyellow;}
    100%   {color: deeppink;}

}
@keyframes Atarib {
    0%   {background-color: deeppink;}
    25%  {background-color: lawngreen;}
    50%  {background-color: orangered;}
    70%  {background-color: yellow;}
    85%  {background-color: greenyellow;}
    100% {background-color: deeppink;}

}



.background  {
    background-color: red;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}

.Atari  {
    width: 100px;
    height: 100px;
    animation-name: Atari;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.banner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 8px;
    text-align: center;
    animation-name: Atari;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.button {
    display: inline-block;
    margin: 0;
    padding: 0.75rem 1rem;
    border: 0;
    border-radius: 0.317rem;
    background-color: #1AC876;
    color: white;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
    line-height: 1;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}

.button:hover {
    background-color: red;
}

.eingabe {
    display: inline-block;
    margin: 0;
    padding: 0.75rem 1rem;
    border: 0;
    border-radius: 0.317rem;
    background-color: #1AC876;
    color: white;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
    line-height: 1;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}
