<!DOCTYPE html>
<html lang="de">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/home.css') }}" media="screen" />
<title>Raspberry Pi</title>
<link rel="icon" href="https://img.icons8.com/carbon-copy/2x/instagram-new.png">

</head>
<body class="background">

<div class="navbar" width="5000px" background-color=green>
        <a href="/">Home</a>
        <a href="/nextcloud">Nextcloud</a>
        <a href="https://flexonmyex.de:4200">Shell</a>
        <a href="/access_log.html">Access Log</a>
        <a href="/Corona">Corona</a>

</div>

<p style="font-size: 200%;color: white;">Add a comment to the messageboard by typing it and hitting submit</p>

<form method="post">

<input class="button" placeholder="Enter Message" name="message">
<input type="submit" value="submit or refresh" class="button">
</form>

<ul>
    {% for item in list %}
    <li style="color: white;font-size: 20px;font-family: helvetica;">{{item}}</li>
    {% endfor %}
</ul>





<div class="banner">
    <h1>Welcome to flexonmyex.de on 06 Oct 2020</h1>
</div>


</body>
